/* Add CSS Styling */
.odd {
    background-color: pink;
    color: black;
}
#number2 {
    color: blue;
    font-size: 32px;
}
#number4 {
    background-color: lightgreen;
    font-weight: bold;
}
.fontsize {
    font-size: 30px;
}